<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thanks for signing up the Blocipedia!</h1>
    <p>
      You can now create and share markdown wikis on Blocipedia!
    </p>
    <p>
      <%= link_to "To the website", root_url %>
    </p>
  </body>
</html>
