<div class="space">
  <h1 class="text-center">Blocipedia: Social, Markdown Wikis</h1>
</div>
<div class="jumbotron">

  <h2 class="text-center">Create and share Markdown Wikis</h2>
  <% unless user_signed_in? %>
    <p class="btn-center">
      <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary btn-lg'%>
    </p>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6 text-center">
    <h3>Create as many public wikis as you want</h3>
    <% unless user_signed_in? %>
      <a href="/users/sign_up" class="center"><img src="/assets/free.png" width="200"></a>
      <p>Free Plan</p>
    <% end %>
  </div>
  <div class="col-md-6 text-center">
    <h3>Create private wikis</h3>
    <% if !(user_signed_in?) %>
      <a href="#" class="center"><img src="/assets/premium.png" width="200"></a>
      <p>Premium Plan</p>
    <% end %>
  </div>
</div>
